USE [master]
GO
/****** Object:  Database [inventory]    Script Date: 12/11/2023 9:34:13 AM ******/
CREATE DATABASE [inventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'inventory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\inventory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'inventory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\inventory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [inventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [inventory]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/11/2023 9:34:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(400,1) NOT NULL,
	[FirstName] [varchar](255) NULL,
	[LastName] [varchar](255) NULL,
	[address] [varchar](255) NULL,
	[contact] [varchar](20) NULL,
	[type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 12/11/2023 9:34:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[itemId] [int] IDENTITY(300,1) NOT NULL,
	[ItemName] [varchar](255) NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[unit] [varchar](100) NULL,
	[supplier_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[itemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 12/11/2023 9:34:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[stockId] [int] IDENTITY(200,1) NOT NULL,
	[stock] [varchar](255) NULL,
	[remarks] [varchar](255) NULL,
	[Item_id] [int] NULL,
	[supplier_id] [int] NULL,
	[stockDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[stockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 12/11/2023 9:34:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[supplierId] [int] IDENTITY(100,1) NOT NULL,
	[supplierName] [varchar](255) NULL,
	[supplier] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[supplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/11/2023 9:34:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](250) NULL,
	[username] [varchar](250) NULL,
	[password] [varchar](250) NULL,
	[type] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT (getdate()) FOR [stockDate]
GO
ALTER TABLE [dbo].[Item]  WITH NOCHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Supplier] ([supplierId])
GO
ALTER TABLE [dbo].[Stocks]  WITH NOCHECK ADD FOREIGN KEY([Item_id])
REFERENCES [dbo].[Item] ([itemId])
GO
ALTER TABLE [dbo].[Stocks]  WITH NOCHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Supplier] ([supplierId])
GO
USE [master]
GO
